.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --black: #000000;
  --sweet-black: #212121;
  --blue: #2196f3;
  --white: #ffffff;
  --sweet-gray: #f5f4fa;
  --gray: #757575;
  --background-gray: #2f303a;
  --borders: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  font-family: "Raleway", sans-serif;
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 3%;
}

.header__logo1 {
  color: var(--blue);
}

.header__logo2 {
  color: var(--black);
}

.header__list {
  display: flex;
  gap: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}

.nav__link1 {
  width: 45px;
  color: var(--sweet-black);
}

.nav__link2 {
  width: 72px;
  color: var(--blue);
}

.nav__link3 {
  width: 64px;
  color: var(--sweet-black);
}

.header__div {
  display: flex;
  gap: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}

.nav__link4 {
  width: 135px;
  color: var(--blue);
}

.nav__link5 {
  width: 122px;
  color: var(--gray);
}

.button {
  padding: 94px 0 34px;
}

.button__list {
  display: flex;
  justify-content: space-evenly;
}

.portfolio__item {
  list-style-type: none;
}

.portfolio__button1 {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.75);
  width: 73px;
}

.portfolio__button2 {
  background-color: var(--sweet-gray);
  color: var(--sweet-black);
  width: 125px;
}

.portfolio__button3 {
  background-color: var(--sweet-gray);
  color: var(--sweet-black);
  width: 112px;
}

.portfolio__button4 {
  background-color: var(--sweet-gray);
  color: var(--sweet-black);
  width: 103px;
}

.portfolio__button5 {
  background-color: var(--sweet-gray);
  color: var(--sweet-black);
  width: 130px;
}

.images {
  padding: 0 0 94px;
}

.images__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.images__item {
  border: 1px solid var(--borders);
  flex-basis: calc((100%-60px) / 3);
  list-style-type: none;
  width: 270px;
}

.images__item__img {
  width: 270px;
}

.images__item__text1 {
  width: 322px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 10px;
  color: var(--sweet-black);
}

.images__item__text2 {
  width: 322px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 10px;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.gav {
  display: inline;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 3%;
}

.footer__title1 {
  color: var(--blue);
}

.footer__title2 {
  color: var(--white);
}

.footer__address {
  width: 231px;
  color: var(--white);
}

.footer__link1 {
  width: 136px;
  color: var(--white);
  opacity: 60%;
}

.footer__link2 {
  width: 231px;
  color: var(--white);
  opacity: 60%;
}
