.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --sweet-black: #212121;
  --white: #ffffff;
  --blue: #2196f3;
  --gray: #757575;
  --dark-gray: #2f303a;
  --people-white: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  color: var(--white);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  font-family: "Raleway", sans-serif;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 3%;
}

.header__logo1 {
  color: var(--blue);
}

.header__logo2 {
  color: var(--black);
}

.header__list {
  display: flex;
  gap: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}

.nav__link1 {
  width: 45px;
  height: 16px;
  color: var(--blue);
}

.nav__link2 {
  width: 72px;
  height: 16px;
  color: var(--sweet-black);
}

.nav__link3 {
  width: 64px;
  height: 16px;
  color: var(--sweet-black);
}

.header__div {
  display: flex;
  gap: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}

.nav__link4 {
  width: 135px;
  height: 16px;
  color: var(--blue);
}

.nav__link5 {
  width: 122px;
  height: 16px;
  color: var(--gray);
}

.business__div {
  display: flex;
  flex-direction: column;
}

.business {
  padding: 200px 452px;
  height: 600px;
  background-color: var(--dark-gray);
}

.business__title {
  width: 696px;
  height: 120px;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: var(--white);
}

.business__title__button {
  background-color: var(--blue);
  color: var(--white);
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.about {
  padding: 94px 0 0 0;
}

.about__list {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.about__title {
  color: var(--sweet-black);
  width: 270px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}

.about__item {
  list-style-type: none;
}

.text {
  width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.about__title1__text1 {
  height: 72px;
}

.about__title2__text2 {
  height: 48px;
}

.about__title3__text3 {
  height: 48px;
}

.about__title4__text4 {
  height: 72px;
}

.section {
  padding: 94px 0 0 0;
}

.section__title {
  width: 366px;
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  color: var(--sweet-black);
}

.section__list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 50px;
}

.section__list__item {
  list-style-type: none;
}

.section__image::before {
  display: block;
  width: 370px;
  height: 294px;
  content: "";
  background-image: url(https://img.freepik.com/premium-psd/very-tiny-hamburger-icon_493627-331.jpg);
}

.people {
  background-color: var(--people-white);
  padding: 94px 0;
}

.people__title {
  color: var(--sweet-black);
  width: 264px;
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
}

.people__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.people__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.people__image {
  width: 270px;
  height: 260px;
}

.gav {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: var(--sweet-black);
  height: 19px;
  text-align: center;
}

.people__item1__text1 {
  width: 104px;
}

.people__item2__text1 {
  width: 129px;
}

.people__item3__text1 {
  width: 130px;
}

.people__item4__text1 {
  width: 145px;
}

.miau {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
  height: 19px;
  color: var(--gray);
}

.people__item1__text2 {
  width: 147px;
}

.people__item2__text2 {
  width: 130px;
}

.people__item3__text2 {
  width: 76px;
}

.people__item4__text2 {
  width: 87px;
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 3%;
  height: 21px;
}

.footer__title1 {
  color: var(--blue);
}

.footer__title2 {
  color: var(--white);
}

.footer__address {
  width: 231px;
  color: var(--white);
}

.footer__link1 {
  width: 136px;
  color: var(--white);
  opacity: 60%;
}

.footer__link2 {
  width: 231px;
  color: var(--white);
  opacity: 60%;
}
